<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title>this is home page</title>
</head>
<body>
	<section class="banner d-flex justify-content-center align-items-center">
	  <div class="text-center">
	  <h1 class="font-weight-bold">ADVANCED CONTACT MANAGER</h1>
	  <p>Start saving your contacts in very smarter way. we provide very efficient and smarter way of handling contacts.</p>
	  <button  onclick="location.href='http://localhost:8080/signup/'" type="button"  class="btn bg-light btn-lg text-black" >Start's Here</button>
	  </div>
	</section>
</body>
</html>