<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title>Change Password</title>
</head>
<body>
	<section>
		<div class="wrapper fadeInDown">
			<div id="formContent">
<!-- 			email form -->
		</div>
           <form action="" th:action="@{/change-password}" method="post">
           <h3>Change Your Password</h3>
           <div class="form-group">
          <input name="newpassword" required="required" type="password" placeholder="Enter new password here..." class="form-control"/>
          </div>
          <div class="container text-center">
          <button class="btn btn-success">Change password</button>
          </div>
           </form>	
			</div>
		
	</section>
</body>
</html>